PORT=4000
MONGODB_URI=mongodb+srv://securityexpert2011_db_user:DOMJMWijMlaPESNV@cluster0.qaou3ai.mongodb.net/hyps
JWT_SECRET=myJWT156
CLIENT_ORIGIN=http://localhost:8081
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=subhash555@gmail.com
SMTP_PASS=Sun@Fun143$$
SMTP_FROM=subhash555@gmail.com
LOG_LEVEL=info
